h1{
    color: slateblue;
    opacity: 0.8;
}
#myDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(120deg,hsl(192,70%,51%),hsl(136,65%,51%));
}
.inputField{
    display: flex;
    width: 90%;
    justify-content: center;
}

.addBtn{
    background-color: hsl(0, 0%, 94%);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 10%;
    text-align: center;
}
#myInput{
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    width: 40%;
    border: 1px solid black;
    border-radius: 1rem;
}
#myUl{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
ul li:nth-child(odd) {
    background: hsl(0, 0%, 87%);
  }
li{
    font-size: 1.4rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}
.listed{
    display: flex;
    justify-content: space-around;
}
.checkBox{
    width: 25px;
}

body{
    margin: 0;
}